/*-----> DISEÑO 1 <-----*/
/*
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Comic Neue", cursive;
}

/*Home*/
/*
#imagen2 {
  width: 100%;
  height: 400px;
}

h1 {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 80px;
}

#UpcomingEvents {
  background-color: black;
  color: white;
  text-align: center;
  position: relative;
  top: -10px;
}

#logo {
  width: 180px;
  position: absolute;
  top: 34%;
  left: 80%;
}

nav a {
  width: 14%;
  height: 80px;
  display: table;
  margin-left: 20px;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  top: 40px;
  left: 10px;
}

nav a:hover {
  color: black;
  text-decoration: underline;
  text-decoration: none;
}

.nav-item-active {
  color: black;
  text-decoration: none;
}

.contenido {
  display: inline-block;
  position: absolute;
  top: 466px;
  left: 250px;
}

h3 {
  margin: 20px 0 0 0;
}

.pDeSangria {
  margin: 0 0 0 20px;
}

/*contacto*/
/*
.contacto {
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

#mail {
  color: blue;
  text-decoration: underline;
}



/*-----> DISEÑO 2 <-----*/

/*Home*/

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Comic Neue", cursive;
}

#imagen2 {
  width: 100%;
  height: 400px;
}

h1 {
  font-size: 60px;
  position: absolute;
  top: 0;
}

#UpcomingEvents {
  border: 3px solid #000000;
  text-align: center;
  position: relative;
  top: -23px;
}

#logo {
  width: 180px;
}

nav a {
  width: 14%;
  height: 80px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: white;
  background-color: rgb(58, 58, 255);
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 3px;
}

nav {
  position: absolute;
  top: 10%;
  left: 30%;
}

nav a:hover {
  color: white;
  background-color: rgb(20, 160, 20);
}

.nav-item-active {
  color: white;
  background-color: rgb(20, 160, 20);
}

.contenido {
  justify-content: center;
  position: absolute;
  top: 550px;
  left: 250px;
}

.pDeSangria {
  margin: 0 0 0 20px;
}

/*contacto*/

.contacto {
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

/*GAME*/

#games {
  text-decoration: underline;
  font-style: italic;
}

.games {
  font-style: italic;
  padding: 0 0 25px;
}

.negrita {
  font-weight: bold;
  padding: 0px;
}

#phoneEmail {
  display: inline-block;
}

.pDephoneEmail {
  display: inline-block;
  margin: 0 25px;
}

.mapa {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.mapa p {
  margin: 0 0 0 1em;
}

.mapa-contenido {
  padding: 0 80px 0 0;
}

/*rules*/

dt {
  font-weight: bold;
}

/*form*/

.section-register {
  display: flex;
  justify-content: center;
}

.section-register form {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: darkgray;
  border-radius: 8px;
}
.section-register fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}
.section-register fieldset label {
  padding-left: 20px;
}
.section-register fieldset h3 {
  padding-left: 20px;
}
.items {
  width: 70%;
  display: flex;
  padding-left: 40px;
  justify-content: space-between;
}
.date-info {
  border: 10px solid green;
  flex-direction: row;
}

.items div {
  display: flex;
  justify-content: center;
}
